html * {
	/* colors */
	background-color: #000000;
	color: #ffffff;

	/* font */
	font-family: "IBM Plex Mono", monospace;
	font-size: 16pt;

	/* pos and size */
	min-height: auto;

	/*max-height: 100vh;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.centered {
	padding-top: 50vh;
	margin-top: -10pt;
	margin-bottom: 0;
	text-align: center;
}