html * {
	/* colors */
	background: #ffffff;
	color: #000000;

	/* font */
	font-family: "IBM Plex Mono", monospace;
	font-size: 18pt;

	/* pos and size */
	/*max-height: 100vh;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.conftitle {
	text-align: center;
	padding: 10px;
	padding-top: 100px;
}

.papertitle {
	text-align: center;
	padding-top: 20px;

	max-width: 800px;

	font-size: 24pt;
	font-weight: bold;
}

.paperauthor {
	text-align: center;
}

.imagelink {
	margin: 10px;
	border-color: #000000;
	border-width: 3px;
	border-style: solid;
}

.septitle {
	padding-top: 80px;
	text-align: center;
	font-weight: bold;
}

.showcase {
	padding: 20px;
	text-align: center;
}

.bottombar {
	/* colors */
	background: #0000ff;
	color: #ffffff;

	/* size */
	width: 100%;

	/* positioning */
	bottom: 0%;
	position: fixed;
	text-align: center;

	/* font */
	font-size: 12pt;
	font-weight: bold;
}