* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Chivo", sans-serif;
	color: #000000;
	background-color: #ffffff;
}

.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
}

.logo-container {
	font-size: 32pt;
	font-weight: bold;
}

.links-container a {
	font-family: "Recursive", monospace;
	font-size: 14pt;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	color: #1e9bb3;
}

.links-container a:hover {
	opacity: 0.75;
}

.separator {
	margin: 0px 8px 0px 4px;
	border: 1px solid #c0c0c0;
}

@media (prefers-color-scheme: dark) {
	* {
		color: #ffffff;
		background-color: #000000;
	}

	.links-container a {
		color: #94e2ff;
	}

	.separator {
		border: 1px solid #606060;
	}
}